<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.differentuitest">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DifferentUITest"
        tools:replace="android:icon,android:theme"
        android:name=".application.PrintApplicationClass"
        >
        <activity android:name=".PosPrintActivity"/>
        <activity android:name=".recyclerView.RecyclerRoomActivity" />
        <activity android:name=".recyclerView.AddShowActivity" />
        <activity android:name=".SalesDemoActivity" />
        <activity android:name=".PosActivity" />
        <activity android:name=".progressAndBar.CircleProgressActivity" />
        <activity
            android:name=".toolbar.NavigationDrawerWithToolbarActivity"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>